/***********************/
/* Header */
/***********************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
/***********************/
/* Navigation */
/***********************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.main-cta:link,
.main-nav-link.main-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.main-cta:hover,
.main-nav-link.main-cta:active {
  background-color: #cf711f;
}

/***********************/
/* Hero Section */
/***********************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.customers-imgs {
  display: flex;
}
.customers-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}
.customers-imgs img:last-child {
  margin: 0;
}
.customer-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.customer-text span {
  color: #cf711f;
  font-weight: 700;
}
.hero-img img {
  width: 100%;
}
/***********************/
/* Featured In Section */
/***********************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

/***********************/
/* How it works section */
/***********************/
.how-it-work {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
}
/***********************/
/* Meals Section */
/***********************/
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
  text-transform: uppercase;
}
.tag--paleo {
  background-color: #ffd43b;
  text-transform: uppercase;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.img-meal {
  width: 100%;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

/***********************/
/* In this section testimonial will find the code differnt in organization as i wrote in anothe device and copy */
/***********************/
.section-testimonial {
  background-color: #fdf2e9;
}
.testimonial-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.testimonial-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.testimonial-cards {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* height: 100%; */
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-container {
  padding: 9.6rem;
}
.info-testimonial {
  grid-column: span 2;
}
.testimonial-person img {
  border-radius: 50%;
  width: 6.4rem;
  margin-bottom: 1.2rem;
}
blockquote {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.person-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.img-item {
  overflow: hidden;
}
.img-item img {
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.img-item img:hover {
  transform: scale(1.1);
}
.testimonial-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  /* margin-left: 9.6rem; */
  padding: 1.6rem;
}

/***********************/
/* Section Pricing */
/***********************/
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan-starter {
  justify-self: end;
  background-color: #fff !important;
  border: 2px solid #fdf2e9;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan {
  background-color: #fdf2e9;
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
  justify-items: end;
}
.pricing-plan-complete {
  position: relative;
  overflow: hidden;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.pricing-plan-complete::before {
  content: "Best value";
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  font-size: 1.4rem;
  padding: 0.8rem 8rem;
  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.item-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.item-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
/***********************/
/* Section CTA */
/***********************/
.section-cta {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* Temporart */
  height: 50rem;
  overflow: hidden;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}
.cta-text{
font-size: 1.8rem;
line-height: 1.8;
margin-bottom: 4.8rem ;
}
.cta-text-box {
  color: #2e1907;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondry{
  color: #2e1907;
  margin-bottom: 3.2rem;

}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select{
  width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.cta-form input::placeholder{
  color: #333;
}
.cta-form button{

}
.cta *:focus{
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
/***********************/
/* Section footwe */
/***********************/
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;

}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}


.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-heading{
  font-size: 1.8rem;
  font-weight:500;
  margin-bottom: 3.2rem;

}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
