<%- include('includes/head.ejs') %> 

  <link rel="stylesheet" href="/signUp.css"  />
</head>

</head>
<body>

  <main>
    <div class="left">
      <img src='./logo.png' alt="logo"/>
      <h1>Your Notes</h1>
    </div>

  <div class="signUp">
    <h1>SignUp</h1>
    <% if (messageError){%>
      <div class="error-message"><%=messageError%></div>
      <%
    }%>
    <form action="/signup" method="POST">
      <div>
        <label>Email</label>
        <input type="email" name="email"></input>
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password"></input>
      </div>
      <div>
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword"></input>
      </div>
      <button class="completeSignUp" type="submit">Complete SignUp</button>
      <div class="alternative">
        <p>Already have an account</p>
        <a href="/login">Login</a>
        </div>
    </form>
   
  </div>
</main>
</body>
</html>