.testimonials-section {
  background-color: #12273d;
  height: 100vh;
}
.dataFetching {
  background-color: white;
  position: relative;
  width: 80rem;
  text-align: center;
  padding: 6rem 0;
  margin: auto;
}
.dataFetching p {
  padding: 0px 15rem;
  font-size: 2rem;
}
.dataFetching .signiture {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.dataFetching .signiture span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ccc;
}
.dataFetching .signiture img {
  position: absolute;
  right: -10%;
  bottom: -10%;
  max-width: 200px;
}
