<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complete Sign Up</title>
  <link rel="stylesheet" href="/header.css" />
  <link rel="stylesheet" href="/completeSignUp.css"  />
</head>

</head>
<body>
  <header>
    <div class="header">
      <div class="left-section">
        <img class="logo-header" src="./logoRed.png" alt="logo" />
        <h1 class="logo-header">Your Notes</h1>
      </div>
      <div class="right-section">
        <h3>Ar</h3>
        <img src="./Combined Shape.png" alt="moon" />
        <img src="./user.png" alt="user" />
      </div>
    </div>
  </header>

  <div class="signUp">
    <h1>Complete SignUp</h1>
    <form action="#" method="post">
      <div>
        <label>Username</label>
        <input type="text"></input>
      </div>
      <div>
        <label>Phone</label>
        <input type="number"></input>
      </div>
      <div>
        <label>Birth Year</label>
        <input type="text"></input>
      </div>
      <div>
      <button class="completeSignUp" type="submit">Complete SignUp</button>
      <button class="Back" formaction="/signup" type="">Back</button>
      </div>
      <div class="alternative">
        <p>Already have an account</p>
        <button formaction="/login">Login</button>
        </div>
    </form>
    
  </div>
</body>
</html>