.colum-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  text-align: center;
  line-height: 1.6;
}

.colum-footer .your-car {
  text-align: left;
}
.colum-footer h1 {
  color: #741906;
  font-weight: 600;
  font-size: 2.4rem;
}
.colum-footer .special-name {
  font-size: 3.2rem;
  font-weight: 700;
}
.colum-footer .news-letter .subscribe {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.colum-footer .news-letter .subscribe input {
  padding: 1.5rem;
  border: 1px solid #741906;
}
.colum-footer .news-letter .subscribe button {
  background-color: #741906;
  padding: 0.8rem 1.8rem;
  font-size: 1.8rem;
  color: white;
}
.colum-footer .news-letter .social-icons {
  /* display: flex; */
  font-size: 3rem;
}
.colum-footer .news-letter .social-icons .icon-social {
  padding: 4rem 2rem 0;
}
.colum-footer .contact ul {
  display: flex;
  flex-direction: column;
}
.colum-footer p {
  font-size: 1.8rem;
}

.colum-footer .contact li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 1rem;
  font-size: 1.8rem;
}
.copy-right {
  border-top: 0.2rem solid #741906;
  text-align: center;
  font-size: 1.8rem;
}
