@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
.special-heading {
  /* background-color: #e5e5e5; */
  position: relative;
}
.special-heading h1 {
  font-family: "Lora", serif;
  font-size: 12.8rem;
  font-weight: 700;
}
.special-heading h5 {
  font-size: 5.6rem;
  font-family: "Lora", serif;
  position: absolute;
  top: 0;
}
.services h1 {
  text-align: center;
  color: #ccc;
}
.services h5 {
  left: 40%;
}
.testimonials h1 {
  text-align: center;
  color: #ccc;
  opacity: 0.3;
}
.testimonials h5 {
  left: 40%;
  color: white;
}
.aboutUs h1 {
  color: #ccc;
  /* font-size: 1rem; */
  width: 100%;
}
.aboutUs h5 {
  left: 5%;
  color: #741906;
}
