@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

.aboutUs-section {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  /* max-width: 100%; */
}
.aboutUs-section p {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 5%;
  font-family: "Lora", serif;
}
.aboutUs-section img {
  margin-top: 20rem;
  background-position: center;
  background-size: cover;
  /* max-width: 100%; */
}
